/* -------- Scoreboard -------- */

.scoreboard {
    color: rgb(241, 190, 122);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.score-text {
    font-size: 1.5rem;
    margin-top: 0.3rem;
}

/* -------- Image -------- */

.quotes-frame {
    margin-bottom: 5rem;
}

/* ----------- Buttons ----------- */

.start-btn {
    margin-top: 0.5rem;
}

/* -------- Media Queries -------- */

@media (min-width: 768px) {
    .score-number {
        padding-right: 3rem;
    }
    .score-text {
        font-size: 2rem;
    }
    .score-number {
        font-size: 3rem;
    }
}

@media (min-height: 750px) {
    .quotes-frame {
        margin-bottom: 7rem;
    }
    .scoreboard {
        margin-top: 6rem;
    }
}

@media (min-width: 1100px) {
    .quotes-frame {
        margin-bottom: 3rem;
    }
    .score-number {
        padding-right: 6rem;
    }
}

@media (min-width: 1100px) and (max-height: 880px) {
    .scoreboard {
        margin-bottom: 1rem;
    }
    .scoreboard {
        margin-top: 2.5rem;
    }
}

@media (min-height: 1280px) and (max-width: 1100px) {
    .scoreboard {
        margin-top: 10rem;
    }
}