@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

/* -------- default settings -------- */

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 6.25%;
}

/* -------- Generic Settings -------- */

body {
    font-family: 'EB Garamond', sans-serif;
    color: rgb(200, 190, 190);
    background-color: rgb(15, 7, 0);
}

/* -------- Image -------- */

.landing-img {
    width: 100%;
    height: auto;
    margin-top: 30rem;
    margin-bottom: 10rem;
}

/* -------- Content -------- */

.landing-text {
    font-size: 20rem;
    padding: 10rem 0 0 0;
}

/* -------- Buttons -------- */

.start-btn {
    height: auto;
    width: 100%;
    border-radius: 3rem;
    padding: 0;
    border: 1.5rem solid rgb(241, 190, 122);
}

.start-btn:hover,
.start-btn:active {
    cursor: pointer;
    box-shadow: 0 1.2rem 10rem 0 rgb(241, 190, 122);
    transform: translateY(-1rem);
    transition: transform 150ms;
}

.start-btn-text {
    width: 100%;
    font-size: 16rem;
    font-weight: 700;
    color: rgb(241, 190, 122);
    padding-bottom: 1rem; 
}


.start-btn-text:hover,
.start-btn-text:active {
    color: rgb(241, 190, 122);
}

/* -------- Media Queries -------- */

@media screen and (max-width: 350px) {
.start-btn {
    margin-top: 15rem; 
  }
}

@media (min-width: 351px) and (max-width: 990px) {
.start-btn {
    margin-top: 30rem; 
  }
}

@media (min-width: 410px) and (max-width: 760px) {
.landing-text {
    padding-bottom: 30rem; 
  }
}

@media (min-height: 850px){
.landing-img {
    margin-top: 50rem; 
  }
}

@media (min-height: 1300px){
.landing-img {
    margin-top: 200rem; 
  }

.start-btn {
    margin-top: 100rem;  
  }

.start-btn-text{
    font-size: 20rem;
  }
}