/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');

/* -------- default settings -------- */

* {
    margin: 0;
    padding: 0;
}

/* -------- Generic Settings -------- */

body {
    font-family: 'EB Garamond', sans-serif;
    color: rgb(200, 190, 190);
    background-color: rgb(15, 7, 0);
}

/* -------- Image -------- */

.landing-img {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

/* -------- Content -------- */

.landing-text {
    font-size: 1.2rem;
    padding: 0.5rem 0 0 0;
}

/* -------- Buttons -------- */

.start-btn {
    height: auto;
    width: 100%;
    border-radius: 0.2rem;
    margin-top: 1.5rem;
    padding: 0;
    border: 0.08rem solid rgb(241, 190, 122);
}

.start-btn:hover,
.start-btn:active {
    cursor: pointer;
    -webkit-box-shadow: 0 0.2rem 1rem 0 rgb(241, 190, 122);
            box-shadow: 0 0.2rem 1rem 0 rgb(241, 190, 122);
    -webkit-transform: translateY(-0.1rem);
        -ms-transform: translateY(-0.1rem);
            transform: translateY(-0.1rem);
    -webkit-transition: -webkit-transform 150ms;
    transition: -webkit-transform 150ms;
    -o-transition: transform 150ms;
    transition: transform 150ms;
    transition: transform 150ms, -webkit-transform 150ms;
}

.start-btn-text {
    width: 100%;
    font-size: 0.8rem;
    color: rgb(241, 190, 122);
    font-weight: 600;
}


.start-btn-text:hover,
.start-btn-text:active {
    color: rgb(241, 190, 122);
}

/* -------- Media Queries -------- */

@media (min-width: 410px) and (max-width: 1100px) {
    .landing-text {
        padding-bottom: 1rem; 
    }
}

@media (min-height: 850px) {
    .landing-img {
        margin-top: 2rem; 
    }
    .start-btn-text{
        font-size: 1rem;
    }
}

@media (min-width: 1100px) {
    .landing-text {
        font-size: 1.6rem; 
    }
}

@media (min-height: 1280px) and (max-width: 1100px) {
    .landing-img {
        margin-top: 10rem; 
    }
    .start-btn {
        margin-top: 10rem;  
    }
}

@media (min-width: 1100px) and (max-height: 880px) {
    .start-btn {
        margin-top: 1rem;
        margin-right: 3.1rem;
    }
    .landing-img {
        width: 90%; 
    }
}